.header {
	height: 40dvh;
	background-image: url(/R&M.jpg);
	background-size: cover;
	background-position: center;
}

.section {
	background-color: #00000030;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.container {
	padding-inline: 1em;
	max-width: 1200px;
	margin-inline: auto;
}

.error {
	text-align: center;
	margin: 0;
	color: #fb9999;
	font-size: small;
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.section {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	.container {
		padding-inline: 1em;
	}
}
